# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\user1\Desktop\שנה ב\קובץ העתק לפרויקט גאבה הדסים\גאבה-הדסים\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
